* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	background: #1a1b26;
	height: 100vh;
}

#container {
	display: flex;
	flex-direction: column;
	background: rgba(225, 225, 225, 0.1);
	color: aliceblue;
	text-transform: capitalize;
	font-family: "Montserrat", sans-serif;
	width: 80%;
	max-width: 1000px;
	margin: auto;
	padding: 2em 0;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#search-area {
	margin: 1em 3em;
}

#search-bar {
	background: rgba(0, 0, 0, 0);
	border: none;
	color: aliceblue;
}

#search-bar:focus {
	outline: none;
}

#grid-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.list {
	margin: auto;
}

a {
	text-decoration: none;
	color: aliceblue;
}

li {
	list-style: none;
}

h1 {
	color: #008081;
	font-size: 1.5em;
	text-align: center;
}
